@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TAN-NIMBUS';
  src: url('./assets/fonts/TAN-NIMBUS.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Instrumentserif-italic';
  src: url('./assets/fonts/instrumentserif-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Instrumentserif-regular';
  src: url('./assets/fonts/instrumentserif-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DMSans-Regular';
  src: url('./assets/fonts/DMSans-Regular-BF64376d323f095.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DMSans-Medium';
  src: url('./assets/fonts/DMSans-Medium-BF64376d329a539.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DMSans-Bold';
  src: url('./assets/fonts/DMSans-Bold-BF64376d32191f2.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Degular-Semibold';
  src: url('./assets/fonts/Degular-Semibold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
